﻿/*sd54 color: #002f6c*/    
html {
    min-height:100%;
}
body {
    padding-top: 70px;
    height: 100%;
    background: #E0EAFC; /* fallback for old browsers */

    background: -moz-linear-gradient(90deg, rgba(224,234,252,1) 0%, rgba(145,190,248,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(145,190,248,1)), color-stop(100%, rgba(224,234,252,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(224,234,252,1) 0%, rgba(145,190,248,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(224,234,252,1) 0%, rgba(145,190,248,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(224,234,252,1) 0%, rgba(145,190,248,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(224,234,252,1) 0%, rgba(145,190,248,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91bef8', endColorstr='#E0EAFC',GradientType=0 ); /* ie6-9 */

}

.navbar-custom{
    border-width: 2px;
    border-bottom-width:4px;
    border-bottom-color:White;
    border-bottom-style: solid;
    background: -moz-linear-gradient(90deg, rgba(0,47,108,1) 0%, rgba(145,190,248,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(145,190,248,1)), color-stop(100%, rgba(0,47,108,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(0,47,108,1) 0%, rgba(145,190,248,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(0,47,108,1) 0%, rgba(145,190,248,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(0,47,108,1) 0%, rgba(145,190,248,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(0,47,108,1) 0%, rgba(145,190,248,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91bef8', endColorstr='#002f6c',GradientType=0 ); /* ie6-9 */

}

.nav.navbar-nav>li>a {
    color:  #FFFFFF;

}
.nav.navbar-header a {
    color:  #FFFFFF;
}
.nav.navbar-nav>li>a:hover {
    color:  #ddd;
}
.nav.navbar-header a:hover {
    color:  #ddd;
}    
#mobileMenuText{
    color: #fff;
    float: right;
    line-height: 13px;
    text-align: right;
    width: 65px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #002f6c;
}
#district_logo {
    background-image: url('../images/sd54-opacity-adjusted.png');
    float:right;
    height:128px;
    width:110px;
    background-size: 100% auto;
    margin-right:25px;
}
@media (max-width:1199px) and (min-width:1025px){
    body {
        /*padding-top:120px;*/

    }
.nav.navbar-nav>li>a {
    color:  #FFFFFF;
    padding-left:6px;
    padding-right:6px;
}
}
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        text-align:center;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    #district_logo {
    background-image: url('../images/sd54-opacity-adjusted.png');
    float:right;
    height:96px;
    width:82px;
    background-size: 100% auto;
    margin-right:25px;
    }
}